  body {
    background-image: url('../images/background5.png');
    background-attachment: fixed;
    background-size:cover;
    min-height: 100%;
  }

#dropdown {
    border: solid 5px rgba(38, 0, 255, 0.299);
    border-radius: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 75%;

}

#film-detail {
  display: flex;
  justify-content: center;
}

#header-box {
  display: flex;
  justify-content: center;
}